GEMINI_API_KEY=
KALSHI_API_KEY_ID=
KALSHI_PRIVATE_KEY_PEM=""
OBSIDIAN_VAULT_PATH=/Users/alayshah/Documents/Obsidian Vault
APIFY_API_KEY=
ELEVENLABS_API_KEY=
WHATSAPP_NUMBER=
SUPABASE_URL=
SUPABASE_KEY=
